<div class="main-container">
  <h1>Categories</h1>


  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card">
        <%= image_tag "clarinet.jpeg", class: 'cat_image'%>
        <h2> <%= list.name %> </h2>
        <br>
        <p><strong> <%= list.description %> </strong></p>
      <%= link_to "Check it out", list_path(list.id), class: "btn"  %>
      </div>
    <% end %>
  </div>
</div>

<%# style="background-image: <%= list.photo %>
