<div class="index-content"
  data-controller="filter"
>

  <div class="sidebar">
    <div class="text"><%= link_to "Categories", lists_path %></div>
    <ul>
      <% @lists.each do |list| %>
        <li data-action="click->filter#hide" data-filter-target="list"><%= list.name%></li>
      <% end %>
    </ul>
  </div>


<div>

  <div>
    <div  class="d-flex d-none filter-card"
    data-filter-target="instrument"
    >
    <h3>RELATED SKILLS</h3>
      <% @instruments.each do |instrument| %>
        <div>
            <%= link_to ""%>
            <p data-action="click->filter#filtering"> <strong style="color:blue;"> <%= instrument.name %> </strong> </p>
            <br>
        </div>
      <% end %>

    </div>
  </div>

  <div>


    <div class="classrooms" data-filter-target="classes">
      <h1>All classes</h1>

      <div class="category-cards">
        <div class="cards-title"><h1><strong>Categories</strong></h1></div>
          <div class="cards-display">
            <% @classrooms.each do |classroom| %>
            <div style="background-color:powderblue;">
              <h2> <%= classroom.name %></h2>
              <br>
              <p><strong> <%= classroom.description %> </strong></p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div class="tool d-none"
    data-filter-target="inst">

      <h1>All music classes</h1>

      <div class="category-cards">
        <div class="cards-title"><h1><strong>Categories</strong></h1></div>
          <div class="cards-display">
            <% @instruments.each do |instrument| %>
            <div style="background-color:powderblue;">
              <h2 data-action="click->filter#filtering"> <%= instrument.name %></h2>
              <br>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>




    <div class="d-none"
    data-filter-target="guitar">

      <h1>All guitars</h1>

      <div class="category-cards">
        <div class="cards-title"><h1><strong>Categories</strong></h1></div>
          <div class="cards-display">
            <% @classroom_categories.each do |classroom_category| %>
            <div style="background-color:powderblue;">
              <h2 data-action="click->filter#filtering"> <%= classroom_category.name %></h2>
              <br>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

</div>
