
<div class="index-content">
  <div class="sidebar">
    <div class="text"><%= link_to "Categories", lists_path %></div>
    <ul>
      <li><%= link_to "Music" %></li>
      <li><%= link_to "Fitness" %></li>
      <li><%= link_to "Gardening" %></li>
      <li><%= link_to "Computer Science" %></li>
      <li><%= link_to "Miscellaneous" %></li>
    </ul>
  </div>

  <div class="category-cards">
    <div class="cards-title"><h1><strong>Categories</strong></h1></div>
    <div class="cards-display">
      <% @lists.each do |list| %>
        <div class="index-card">
          <h2> <%= list.name %> </h2>
          <br>
          <%= link_to "Check it out"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
