<div class="main-container">
<%= link_to "Create class", new_list_classroom_path(@list), class: "btn"%>

<%=link_to "Lets go back", lists_path, class: "btn" %>
  <div class="cards">
    <% @classrooms.each do |classroom| %>
      <div class="card">
        <h2> <%= classroom.name %> </h2>
        <p> <%= classroom.description %> </p>
        <%= link_to "Check it out", list_classrooms_path(@list, @classroom), class: "btn"  %>
      </div>
    <%end%>
  </div>
</div>
