<div class="index-content">
  <div class="fixed_sidebar">
    <div class="sidebar">
      <div class="text"><%= link_to "Categories", list_path(List.first) %></div>
      <ul>
        <% @lists.each do |i| %>
          <% @var = @lists.find_by(name: "#{i.name}") %>
          <li><%= link_to i.name, instrument_path(@var.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="category-cards">
    <div class="cards-title"><h1><strong>Categories</strong></h1></div>
    <div class="cards-display">
        <div class="music index-card">
          <% @music = @lists.find_by(name: "Music") %>
          <%= link_to  "", instrument_path(@music.id), class: "card-link" %>
          <h2> Music </h2>
        </div>
        <div class="web index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Web Development </h2>
        </div>
        <div class="phtography index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Photography </h2>
        </div>
        <div class="animation index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Animation </h2>
        </div>
        <div class="graphic index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Graphic Design </h2>
        </div>
        <div class="illustration index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Illustration </h2>
        </div>
        <div class="personal index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Personal Development </h2>
        </div>
        <div class="writing index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Creative Writing </h2>
        </div>
        <div class="film index-card">
          <%= link_to "",  class: "card-link"%>
          <h2> Film & Video </h2>
        </div>
    </div>
  </div>
</div>
