<div class="message-row d-flex <%= message.user == current_user ? 'justify-content-end' : 'justify-content-start' %>">
  <div class="<%= message.user == current_user ? 'sender-style' : 'receiver-style' %>">
    <p><%= current_user.email %></p>
    <div id="message-<%= message.id %>">
      <small>
        <strong><%= message.user.nickname %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
