<div class="form-container">
  <div class="classroom-form">
    <div class="col-6">
      <%= simple_form_for [@classroom_category, @classroom] do |f| %>
        <%= f.input :name, class: "name-form" %>
        <%= f.input :description %>
        <%= f.input :category, collection: %w[Music Fitness Languages Hiking Gardening]%>
        <div class="row g-3">
          <div class="col">
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.input :time %>
            <%# <%= f.input :address %>
            <%= f.input :level, collection: %w[Beginner Intermediate Advanced]%>
            <%= f.input :language %>
            <%= f.input :photo, as: :file, input_html: { multiple: false } %>
            <%# <%= f.input :updated_at, :order => [:day, :month, :year] %>
            <%= f.button :submit, "Let's go!"%>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
