<div class="form-container" >
  <div class="classroom-form">
    <div class="col-6">
      <%= simple_form_for [@classroom_category, @classroom] do |f| %>
        <div class="container">
          <div class="row">
            <div class="form-item col-12">
              <%= f.input :name, :label => 'Your classroom name' ,:label_html => { :class => 'form-label'}, placeholder: 'Give your classroom a name!'%>
            </div>
          </div>

          <div class="row">
            <div class="form-item col-12">
              <%= f.input :description, :label => 'Describe your classroom',:label_html => { :class => 'form-label'}, placeholder: 'Type in nice words to attract your potential classmates!' %>
            </div>
          </div>

          <div class="row">
            <div class="form-item col-sm-4">
              <%= f.input :level, collection: %w[Beginner Intermediate Advanced]%>
            </div>
            <div class="form-item col-sm-4">
              <%= f.input :category, collection: %w[Music Web_Development Photography Animation Graphic_Design Illustration Personal_Development Creative_Writing Film&Video] %>
            </div>
            <div class="form-item col-sm-4">
              <%= f.input :language, placeholder: 'For communication' %>
            </div>
          </div>

          <div class="row">
            <div class="form-item col-sm-4">
              <%= f.input :start_date, as: :date, html5:true, placeholder: 'dd/mm/yyyy' %>
            </div>
            <div class="form-item col-sm-4">
              <%= f.input :end_date, as: :date, html5:true, placeholder: 'dd/mm/yyyy' %>
            </div>
            <div class="form-item col-sm-4">
              <%= f.input :time, :label => 'Duration of each class',:label_html => { :class => 'form-label'}, placeholder: 'In hours, example: 1.5' %>
            </div>
          </div>

          <div class="row">
            <div class="form-item col-12">
              <%= f.input :photo, as: :file, input_html: { multiple: false } %>
            </div>
          </div>

          <div class="form-item col-12">
            <%= f.button :submit, "Let's go!"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
