<div class="index-content">
  <div class="sidebar">
    <div class="text"><%= link_to "Categories", lists_path %></div>
    <ul>
      <% @lists.each do |i| %>
        <li><%= link_to i.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="category-cards">
    <div class="cards-title"><h1><strong><%= @list.name %></strong></h1></div>
    <div class="cards-direct">
      <div class="cards-subtitle"> <h2><strong>Guitar > Classroom.name</strong></h2></div>
      <div class="crt-button"><%= link_to "Create a classroom", new_classroom_category_classroom_path %></div>
    </div>
    <div class="cards-display">
        <div class="index-card">
          <% @classrooms.each do |classroom| %>
            <h2> <%= classroom.name %> </h2>
            <br>
            <p><strong> <%= classroom.description %> </strong></p>

           <% end %>
        </div>
    </div>
  </div>
</div>
