<div class="index-content">
  <div class="fixed_sidebar">
    <div class="sidebar">
      <div class="text"><%= link_to "Categories", list_path(List.first) %></div>
      <ul>
        <% @lists.each do |i| %>
          <% @var = @lists.find_by(name: "#{i.name}") %>
          <li><%= link_to i.name, instrument_path(@var.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="category-cards">
    <div class="cards-title"><h1><strong><%= @classroom_category.instrument.list.name %></strong></h1></div>
    <div class="cards-direct">
      <div class="cards-subtitle"> <h2><strong> > <%= @classroom_category.instrument.name %> > <%= @classroom_category.name %> </strong></h2></div>
      <div class="crt-button"><%= link_to "Create a classroom",  new_classroom_category_classroom_path(@classroom_category, @classroom)  %></div>
    </div>
    <div class="cards-display">
      <% @classrooms.each do |classroom| %>
        <div class="index-card">
            <%= link_to "" , classroom_path(classroom) %>
            <h2> <%= classroom.name %></h2>
            <br>
            <p><strong> <%= classroom.description %> </strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
