<br><br>
<div class="show-container container w-100">
  <div class="container ">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="border-bottom">
            <h2 id="h2"><strong> <%= @classroom.name %> </strong></h2>
          </div>
          <div class="more-info pt-3 border-bottom">
            <h5 class="more-how"><strong> Description </strong></h5>
            <p><%=@classroom.description %></p>
          </div>
          <div class="more-info pt-3">
            <h5 class="more-how"><strong> More info </strong></h5>
            <div class="d-flex pt-3">
              <div class="row">
                <p>Creator: <%=@classroom.user.first_name %></p>
                <p>Starts at: <%=@classroom.start_date %></p>
                <p>Ends at: <%=@classroom.end_date %></p>
              </div>
              <div class="row">
                <p>Skill level: <%=@classroom.level %></p>
                <p>Language: <%=@classroom.language %></p>
                <p>Duration: <%=@classroom.time %></p>
              </div>
            </div>
          </div>
          <br>
          <div class= "row">
          <% if current_user != @classroom.user %>
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <%=link_to "Join now", "#" %>
          <% end %>
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Verification</h5>
                </div>
                <div class="modal-body">
                  Are you sure you have a required level?
                </div>
                <div class="modal-footer">
                  <button type="button" >
                    <%=link_to "Yes", classroom_bookings_path(classroom_id:@classroom), method: :post %>
                  </button>
                  <button type="button"  data-bs-dismiss="modal" aria-label="Close">
                    <%=link_to "No" %>
                  </button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <%# <%= cl_image_tag @classroom.photo.key %>
          <%= image_tag @classroom.photo.url, height: "100%", width: "100%", crop: :fill %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-item col-2">
      <%=link_to "Let's go back", classroom_category_classrooms_path(ClassroomCategory.first), class: "navigate-button" %>
    </div>


    <div class="form-item col-2">
      <% if current_user == @classroom.user %>
      <%= link_to "Delete", classroom_path(@classroom), class: "navigate-but", data: { confirm: "Are you sure?" }, method: :delete%>
      <% end %>
    </div>
  </div>
  <br><br>
