

<%=link_to "Let's go back", lists_path, class: "navigate-button" %>
<div class="show-container container w-100">

  <div class="container ">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="border-bottom">
            <h2 id="h2"><strong> <%= @classroom.name %> </strong></h2>
          </div>
          <div class="more-info pt-3 border-bottom">
            <h5 class="more-how"><strong> Class creator </strong></h5>
            <p><%=@classroom.description %></p>
          </div>
          <div class="more-info pt-3">
            <h5 class="more-how"><strong> More info </strong></h5>
            <div class="d-flex pt-3">
              <div class="row">
                <p>Starts at: <%=@classroom.start_date %></p>
                <p>Ends at: <%=@classroom.end_date %></p>
                <p>Location: <%=@classroom.address %></p>
              </div>
              <div class="row">
                <p>Skill level: <%=@classroom.level %></p>
                <p>Language: <%=@classroom.language %></p>
                <p>Duration: <%=@classroom.time %></p>
              </div>
            </div>
          </div>
          <br>
          <div class= "row" id="btn">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <%=link_to "Join now", "#", class: "join-b" %>
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Verification</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you have a required level?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-secondary">
                    <%=link_to "Yes", lists_path(notice: true) %>
                  </button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <%= cl_image_tag @classroom.photo.key, height: "100%", width: "100%", crop: :fill %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Delete", classroom_path(@classroom), class: "navigate-button", data: { confirm: "Are you sure?" }, method: :delete%>

<div class="card-category"
style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @classroom.photo.key, size: 100 unless photo.picture.url.blank?')">
  Cool article
</div>
