    <div class="navbar-fixed">
      <div class="navbar-logo">
        <%= link_to root_path do %>
          <%= image_tag("logo.png", class: "logo-image")%>
        <% end %>
      </div>
      <div class="navbar-search">
        <div class="search-image"><%= image_tag("search.jpg") %></div>
        <form class="search-input" role="search">
          <%= form_tag lists_path, method: :get do %>
            <%= text_field_tag :query, nil, placeholder: " Type here.." %>
          <% end %>
        </form>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-profile">
          <div class="profile-image">
            <%# <%= image_tag("https://kitt.lewagon.com/placeholder/users/#{current_user.nickname}", class: 'profile-image')  %>
           <%= image_tag("profilehome1.jpg", class: 'profile-image') %>
          </div>
          <div class="profile-items">
             <ul>

              <li><%= link_to "My Profile" %></li>
              <li><%= link_to "My Classrooms" %></li>
              <li><%= link_to "Notifications" %></li>

              <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="navbar-profile">
          <div class="profile-image">
            <%= image_tag("https://images.unsplash.com/photo-1559526324-4b87b5e36e44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80", class: 'profile-image') %>
          </div>
          <div class="profile-items">
            <li><%= link_to "Login", new_user_session_path %></li>
          </div>
        </div>
      <% end %>
    </div>

    <script>
      var search = document.querySelector('.navbar-search');
      var icon = document.querySelector('.search-image');
      var profile = document.querySelector('.navbar-profile')
      var image = document.querySelector('.profile-image')
      icon.onclick = function() {
        search.classList.toggle('active');
      };
      image.onclick = function() {
        profile.classList.toggle('active')
      };
    </script>
