
<div class="banner-home">
  <div class="banner-pic"><%= image_tag("Banner.png") %></div>
  <div class="banner-content">
    <div class="title">
      <h3>We improve together</h3>
      <h3>because we have a </h3>
      <h1><strong>Shared Goal</strong></h1>
    </div>
    <div class="intro">
      <h5>Learning or improving skills while making new friends. We are here to make the learning experience fun again.</h5>
      <button><%= link_to "Join today!", new_user_session_path %></button>
    </div>
  </div>
</div>

<div class="recommendation">
  <div class="card-container">
    <div class="card-one">
      <div class="card-cotent">
        <h5>Not feeling motivated to self-improvement? </h5>
        <p>Here you can always find buddies to learn & have fun with!</p>
      </div>
      <h4 class="cardbutton"><%= link_to "Start your class", list_path(List.first) %></h4>
    </div>
    <div class="card-two">
      <div class="card-cotent">
        <h5>Not knowing what you would like to learn next?</h5>
        <p>We have a great selection of things that you might want to check out!</p>
       </div>
      <h4 class="cardbutton"><%= link_to "Our Categories", list_path(List.first) %></h4>
    </div>
  </div>
  <div class="tetimonies">
    <div class="testimony-one">
      <p>“Best learning experience always comes when you are learning with friends, this app gives me so much motivation!</p>
      <%= image_tag("profilehome1.jpg")%>
    </div>
    <div class="testimony-two">
      <p>“This could be my favorite learning/social platform ever!</p>
      <%= image_tag("profilehome.jpg")%>
    </div>
  </div>
</div>
<div class="layer"></div>
