<div class="index-content">
  <div class="fixed_sidebar">
    <div class="sidebar">
      <div class="text"><%= link_to "Categories", list_path(List.first) %></div>
      <ul>
        <% @lists.each do |i| %>
          <% @var = @lists.find_by(name: "#{i.name}") %>
          <li><%= link_to i.name, instrument_path(@var.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="category-cards">
    <div class="cards-title"><h1><strong>Music</strong></h1></div>
    <div class="cards-display">
      <% @instruments.each do |instrument|  %>
        <div class="index-card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url('<%= cl_image_path instrument.photo.key, height: 300, crop: :fill %>')">
            <%= link_to "",classroom_category_path(instrument, @classroom_category), class: "card-link" %>
            <h2> <%= instrument.name %> </h2>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card-category"
>
  Cool article
</div>
